body {
    background-color: rgba(0, 0, 255, 0.582);
}

section {
    width: 500px;
    margin: auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

p#msg {
    text-align: center;
}